{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "plugins": ["@typescript-eslint/eslint-plugin", "simple-import-sort"],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:vitest-globals/recommended"
  ],
  "rules": {
    "brace-style": ["error", "allman"],
    "simple-import-sort/imports": "error",
    "@typescript-eslint/unbound-method": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-object-type": "off",
    "no-useless-constructor": "off",
    "no-unused-vars": "off"
  },
  "env": {
    "node": true,
    "vitest-globals/env": true
  }
}
